<div class="main-content" >
    <div class="container-fluid overallCol"> 
        <!-- <div class="card "> -->
        <div class="row">
            <div class="col-md-12 ">
                <div class="card">
                    <div class="header">
                        <button type="button" (click)="onClose()" class="close" aria-label="Close" >
                            <span aria-hidden="true" >×</span>
                          </button>
                        <h4 class="title">Registration</h4>
                    </div>
                    <div class="content">
                        <form #registration="ngForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Shop Name</label><span class="star">*</span>
                                        <input type="text" class="form-control"  [(ngModel)]="registrationModule.shopname" #ShopName="ngModel" name="ShopName"  placeholder="Shop name" required>
                                    </div>
                                    <div class="warning" *ngIf="ShopName.errors?.required && ShopName.touched">*{{'Shop name is required'}}</div>
                                   
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Mobile Number</label><span class="star">*</span>
                                        <input type="tel" class="form-control" placeholder="Mobile Number"  oninput="this.value?this.value=this.value.replace(/(?![0-9])./gmi,''):''"
                                        pattern="[5-9]{1}[0-9]{9}" name="ContactNumber" #ContactNumber="ngModel"  minlength="10" maxlength="10" [(ngModel)]="registrationModule.mobile" required>
                                    </div>
                                    <div class="warning" *ngIf="ContactNumber.errors?.required && ContactNumber.touched">*{{'Mobile Number is required'}}</div>
                                    <div class="warning" *ngIf="ContactNumber.errors?.minlength">*{{'Mobile Number  should be 10 digits long'}}</div>
                                    <div class="warning" *ngIf="ContactNumber.errors?.pattern">*{{'Please enter valid mobile number'}}</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>First Name</label><span class="star">*</span>
                                        <input type="text" name="Firstn" #Firstn="ngModel" [(ngModel)]="registrationModule.FirstName" class="form-control" placeholder="First Name" value="" required>
                                    </div>
                                    <div class="warning" *ngIf="Firstn.errors?.required && Firstn.touched">*{{'First Name  is required'}}</div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control" placeholder="Last Name"  name="Lastname" #Lastname="ngModel" [(ngModel)]="registrationModule.lastName" value="">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Address 1</label><span class="star">*</span>
                                        <input type="text" class="form-control"  name="Addr1" #Addr1="ngModel" [(ngModel)]="registrationModule.address1" placeholder="Address 1" value="" required>
                                    </div>
                                    <div class="warning" *ngIf="Addr1.errors?.required && Addr1.touched">*{{'Address 1 is required'}}</div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Address 2</label>
                                        <input type="text"   name="Addr2" #Addr2="ngModel" [(ngModel)]="registrationModule.address2" class="form-control" placeholder="Address 2" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>City Name</label><span class="star">*</span>
                                    <input type="text" class="form-control"  [(ngModel)]="registrationModule.cityname" #CityName="ngModel" name="CityName"  placeholder="City name" required>
                                </div>
                                <div class="warning" *ngIf="CityName.errors?.required && CityName.touched">*{{'city name is required'}}</div>
                               
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>State Name</label><span class="star">*</span>
                                    <input type="text" class="form-control"  [(ngModel)]="registrationModule.statename" #StateName="ngModel" name="StateName"  placeholder="State name" required>
                                </div>
                                <div class="warning" *ngIf="StateName.errors?.required && StateName.touched">*{{'state name is required'}}</div>
                               
                            </div>
                            
                        </div>
                        
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Pin Code</label><span class="star">*</span>
                                        <input  type="tel"  [(ngModel)]="registrationModule.pincode" #Zipcode="ngModel" name="Zipcode"
                                        minlength="6" maxlength="6"  oninput="this.value?this.value=this.value.replace(/(?![0-9])./gmi,''):''" required class="form-control" placeholder="Pin Code">
                                    </div>
                                    <div class="warning" *ngIf="Zipcode.errors?.required && Zipcode.touched">*{{'Pincode is required'}}</div>
                                    <div class="warning" *ngIf="Zipcode.errors?.minlength">*{{'Pincode  should be 6 digits long'}}</div>
                                    <div class="warning" *ngIf="Zipcode.errors?.pattern">*{{'Please enter valid pincode'}}</div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>GST Number</label><span class="star">*</span>
                                        <input  type="tel"  [(ngModel)]="registrationModule.gst" #Gst="ngModel" name="Gst"
                                        minlength="15" maxlength="15"  oninput="this.value?this.value=this.value.replace(/(?![0-9])./gmi,''):''" required class="form-control" placeholder="GST">
                                    </div>
                                    <div class="warning" *ngIf="Gst.errors?.required && Gst.touched">*{{'Gst is required'}}</div>
                                    <div class="warning" *ngIf="Gst.errors?.minlength">*{{'Gst  should be 15 digits long'}}</div>
                                    <div class="warning" *ngIf="Gst.errors?.pattern">*{{'Please enter valid Gst'}}</div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Aadhar Number</label><span class="star">*</span>
                                        <input  type="tel"  [(ngModel)]="registrationModule.aadhar" #Aadhar="ngModel" name="Aadhar"
                                        minlength="12" maxlength="12"  oninput="this.value?this.value=this.value.replace(/(?![0-9])./gmi,''):''" required class="form-control" placeholder="aaadhar">
                                    </div>
                                    <div class="warning" *ngIf="Aadhar.errors?.required && Aadhar.touched">*{{'Aadhar is required'}}</div>
                                    <div class="warning" *ngIf="Aadhar.errors?.minlength">*{{'Aadhar  should be 15 digits long'}}</div>
                                    <div class="warning" *ngIf="Aadhar.errors?.pattern">*{{'Please enter valid Aadhar'}}</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <button type="reset" class="btn btn-info btn-fill pull-right" value="Reset">Reset</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="submit"  [disabled]="registration.invalid" class="btn btn-info btn-fill pull-right" (click) ="Registration(registrationModule)">Submit</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>
 </div>