<table class="table">
  <thead>
    <tr>
      <th scope="col">Order Id</th>
      <th scope="col">Retailer Name</th>
      <th scope="col">Mobile</th>
      <th scope="col">Outlet Name</th>
      <th scope="col">Product Name</th>
      <th scope="col">Total Amount</th>
      <th scope="col">Order Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orderValues">
        <td><li (click)="onSelect(order)">{{order.laoOrderId}}</li></td>
      <td>{{order.retailerName}}</td>
      <td>{{order.retailerMobile}}</td>
      <td>{{order.outletName}}</td>
      <td>{{order.products.name}}</td>
      <td>{{order.products.totalPrice}}</td>
      <select (change)="orderStatusUpdate(order,$event.target.value)" 
      class="btn btn-primary dropdown-toggle" data-toggle="dropdown" [value]="order.lastUpdatedStatus">
        <option value="PLACED" disabled>PLACED</option>
        <option value="COMPLETED">COMPLETED</option>
      </select>
    </tr>
  </tbody> 
</table>