<table class="table">
  <thead>
    <tr>
      <th scope="col">Order Id</th>
      <th scope="col">Retailer Name</th>
      <th scope="col">Mobile</th>
      <th scope="col">Outlet Name</th>
      <th scope="col">Product Name</th>
      <th scope="col">Total Amount</th>
      <th scope="col">Order Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orderValues">
    <!-- <td class="text-left"> -->
     <td>{{order.laoOrderId}}</td> 
      <td>{{order.retailerName}}</td>
      <td>{{order.retailerMobile}}</td>
      <td>{{order.outletName}}</td>
      <td>{{order.products.name}}</td>
      <td>{{order.products.totalPrice}}</td>
        <!-- <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Action - 1</button>
                <button ngbDropdownItem>Another Action</button>
                <button ngbDropdownItem>Something else is here</button>
              </div>
            </div>
          </div>
        </div> -->
        <select (change)="orderStatusUpdate(order,$event.target.value)" [value] = "order.lastUpdatedStatus">
          <option value="PLACED" disabled >PLACED</option>
          <option value="COMPLETED" >COMPLETED</option>
        </select>
      <!-- <td>{{order.lastUpdatedStatus}}</td> -->
    <!-- </td> -->
</tr>
  </tbody>
</table>