<app-sidebar></app-sidebar>

<div *ngIf="orderTable" class="row">
<br><br>
<input class="form-control" id="myInput" type="text" placeholder=" &#61442; Search"
  [(ngModel)]="orderValues.laoOrderId">
<br><br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Order Id</th>
      <th scope="col">Retailer Name</th>
      <th scope="col">Mobile</th>
      <th scope="col">Outlet Name</th>
      <th scope="col" class="productname">Product Name</th>
      <th scope="col">Total Amount</th>
      <th scope="col" class="orderstatus">Order Status</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let order of orderValues | filter:orderValues.laoOrderId | paginate: { itemsPerPage: 5, currentPage:p };">
      <td (click)="onSelect(order)" data-toggle="modal" data-target="#myModal">
        {{order.laoOrderId}}
      </td>
      <td>{{order.retailerName}}</td>
      <td>{{order.retailerMobile}}</td>
      <td>{{order.outletName}}</td>
      <td>{{order.products.name}}</td>
      <td>{{order.products.totalPrice}}</td>
      <select (change)="orderStatusUpdate(order,$event.target.value)" class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown" [value]="order.lastUpdatedStatus">
        <option value="PLACED" disabled>PLACED</option>
        <option value="COMPLETED">COMPLETED</option>
      </select>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Order Summary</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col">

              <div class="row">
                <div class="col">
                  <label>Retailer Name :</label>
                </div>
                <div class="col">
                  {{retailerName}}
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <label>Retailer OutletName :</label>
                </div>
                <div class="col">
                  {{retailerOutletName}}
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <label>Retailer ShopAddress : </label>
                </div>
                <div class="col">
                  {{retailerShopAddress}}
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <label>Product Name : </label>
                </div>
                <div class="col">
                  {{productNameInpopup}}
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <label>SKU : </label>
                </div>
                <div class="col">
                  {{sku}}
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <label>MRP : </label>
                </div>
                <div class="col">
                  {{priceInpopup}}
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <label>Quantity : </label>
                </div>
                <div class="col">
                  {{qtyInpopup}}
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <label>Total :</label>
                </div>
                <div class="col">
                  {{totalPriceInpopup}}
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <label>Order Placed On :</label>
                </div>
                <div class="col">
                  {{CreatedOn}}
                </div>
              </div>

            </div>

          </div>
        </form>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
