.imageFrame{
  width: 3em;
  height: 3em;
}
table{
  /* width: 95%;
  border: 1px solid gray;
  margin-left: 1%;
  margin-top: 40px; */
  border-collapse: collapse;
  padding-top: 50px;
  padding-bottom: 10px;
  line-height: 55px;
  color: #405065;
  margin-top: 20px; 
  font-size: large;
}
th {
  background-color: #3c763d;
  Color: white;
}

.form-control {
box-shadow: 0 10px 40px 0 rgb(53, 204, 103);
outline: 0;
border-width: 2px;
padding: 3px;
border-color: rgb(53, 204, 103);
margin-top: 20px;
}

.form-control::placeholder {
  font-family: FontAwesome;
  font-size: large;
}

td, th {
  /* width: 25%; */
margin-left: 20px;  
}

.row {
margin-right: 0px; 
 margin-left: 0px;
}

.inputStyle{
width: 130%;
}
.modal-content{
width: 110%;
height: 350px;
}

.searchcontainer{
width: 500px;
  margin-left: 1%;
  margin-top: 20px;
}
.btn-info:disabled:hover {
    border-color: #053f0f !important;
 }

 /* .warning{
   color: red;
 } */

 /* .btn-info.btn-fill {
       color: #FFFFFF;
       /* background-color: #053f0f; */
   /* opacity: 1;
        filter: alpha(opacity=100);
   } */
  
  /* .btn-info {
       border-color: #053f0f; */
       /* color: #1DC7EA; */
   /* }  */
   /* .btn{
    border-color: #053f0f; */
    /* background-color: #1DC7EA; */
   /* } */